[submodule "lib/ChRt"]
	path = lib/ChRt
	url = https://github.com/Nate711/ChRt
[submodule "lib/SdFat"]
	path = lib/SdFat
	url = https://github.com/greiman/SdFat.git
[submodule "lib/SparkFun_BNO080_Arduino_Library"]
	path = lib/SparkFun_BNO080_Arduino_Library
	url = https://github.com/Nate711/SparkFun_BNO080_Arduino_Library
